.jumbotron {
  background: #2159ad;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
.card-colecciones {
  flex: 1 260px;
  padding: 5px 15px 22px 25px;
  margin-top: 10px;
  margin-bottom: 0px;
}
footer {
  padding: 20px 20px 0 20px;
  background-color: #e2e2e2;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
label {
  padding-left: 10px;
}
.h1,
h1 {
  padding-left: 10px;
}
.jocho {
  padding-left: 30px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
}
.card-header2 {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #bd2130;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  color: white;
  font: bold;
}
.tab-content {
  padding-top: 15px;
}
body {
  margin-left: 5px;
  margin-right: 5px;
}
.img-fluid {
  margin-top: 15px;
}
.btn-outline-success {
  margin-left: 22px;
}
.w-100 {
  width: 90% !important;
  margin-top: 50px;
}
